.App {
  background: #12263f;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 64px;
}

.App-content {
  margin: 0 auto;
  max-width: 600px;
}

.lh0 {
  line-height: 0;
}

.pos-relative {
  position: relative;
}

*, *:before, *:after {
    box-sizing: border-box;
}
