$flex-directions: (
    row,
    row-reverse,
    column,
    column-reverse,
);

$aligns: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly,
);

$valigns: (
    flex-start,
    flex-end,
    center,
    stretch,
    baseline,
);

@mixin responsive-row($size) {
    @each $align in $aligns {
        .flex-align-#{$size}-#{$align} {
            justify-content: $align;
        }
    }

    @each $valign in $valigns {
        .flex-valign-#{$size}-#{$valign} {
            align-items: $valign;
        }
    }

    .flex-nowrap-#{$size}-true {
      flex-wrap: nowrap;
    }
    .flex-nowrap-#{$size}-false {
      flex-wrap: wrap;
    }
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.fixedWidth {
  flex-shrink: 0;
}

.expand {
  flex: 1;
  width: 100%;
}

.stretch {
  height: 100%;
}

@each $direction in $flex-directions {
    .dir-#{$direction} {
        flex-direction: $direction;
    }
}

@include responsive-row('m');
