@import './colors';

$font-size-map: (
  xxs: 12px,
  xs: 14px,
  s: 16px,
  m: 20px,
  l: 24px,
  xl: 32px,
  xxl: 48px,
);

$line-height-map: (
  xxs: 18px,
  xs: 20px,
  s: 24px,
  m: 28px,
  l: 36px,
  xl: 48px,
  xxl: 64px,
);

$font-weight-map: (
  normal: 400,
  book: 450,
  semibold: 500,
  bold: 600,
);

$default-text-color: get-color('primary');
$default-label-color: get-color('secondary-light');
$default-link-color: get-color('primary-lighter');

$default-text-color-map: (
  'text': $default-text-color,
  'label': $default-label-color,
);

@function get-font-size($size) {
    @return map-get($font-size-map, $size);
}

@function get-line-height($size) {
  @return map-get($line-height-map, $size);
}

@mixin font-size($size) {
    font-size: get-font-size($size);
    line-height: get-line-height($size);
}

@function get-text-color-on-background($background) {
  @if index($dark-background-colors, $background) != null {
    @return get-color('white');
  } @else {
    @return $default-text-color;
  }
}
